<div class="container">
  <link href="../css/bootstrap-switch.min.css" rel="stylesheet">
  <div ng-include="'/templates/notifications/panel.html'"/>
  <div class="jumbotron text-center">
    <h1>Gimme some wind</h1>
  </div>

  <div id="notification-plan-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>

	<div class="form-group">
	  <input type="checkbox" name="notification-checkbox" ng-model="formData.enabled" ng-checked="isNotificationEnabled()" ng-change="postNotificationPlan()" />
	</div>
      </form>
    </div>
  </div>
</div>
